APP_NAME=Emilie
APP_ENV=local
APP_KEY=
# https://laravel.com/docs/13.x/encryption
#APP_PREVIOUS_KEYS=
APP_DEBUG=true
APP_URL=http://emilie.local

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_MX

SESSION_EXPIRE_ON_CLOSE=true
